<app-toolbar></app-toolbar>

<div class="content" role="main">
  <app-highlight-card [title]="title"></app-highlight-card>

  <h2>Empresas</h2>

  <app-input-filter
    [searchForm]="searchForm"
    (search)="getCompaniesByName($event)"
  ></app-input-filter>

  <div class="card-area" [@listAnimation]="filteredCompanies.length">
    <app-card
      *ngFor="let company of filteredCompanies; index as i; first as isFirst"
      [company]="company"
    ></app-card>
  </div>

  <ng-container *ngIf="!filteredCompanies.length">
    <div class="no-content">
      Nenhum resultado para a pesquisa "{{
        searchForm.controls["companyName"].value
      }}".
    </div>
  </ng-container>

  <app-footer></app-footer>
</div>
